:root{
  --theme-sidebar-bg-light: #fff;
  --theme-sidebar-menu-hover-bg-light: #f8f8f8;
  --theme-bg-light: #fff;
  --theme-content-wrapper-bg-light: #f2edf3;
  --theme-h3-text-color-light: #000;
  --theme-menu-title-color-light: inherit;
  --theme-menu-title-active-color-light: #000;
  --theme-navbar-bg-light: #fff;
  --theme-worldmap-stroke-bg-light: #000;
};