:root{
  --theme-sidebar-bg-dark: #18151e;
  --theme-sidebar-menu-hover-bg-dark: #25222c;
  --theme-bg-dark: #18151e;
  --theme-content-wrapper-bg-dark: #31333d;
  --theme-h3-text-color-dark: #fff;
  --theme-menu-title-color-dark: #b0bec5;
  --theme-menu-title-active-color-dark: #fff;
  --theme-navbar-bg-dark: #18151e;
};